body { margin: auto; padding: 1em; background: black; color: #fff; font: 16px/1.6 menlo, monospace; }
#header {text-align: center}
#main {}
#channels {float: left; width: 30%}
#chat{float: right; width: 70%}
#login{ text-align: center}
