<html>
    <head>
         <title>Simple chat</title>
         <link rel=stylesheet href=/static/style.css type=text/css>
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>

    <body>
         <div id = "header">
             <h1>Hey {{user}}, welcome to {{channel_name}}</h1>
         </div>

         <div id = "main">
             <div id = "channels">

                  <form id= "Search_channel_Form" action = "/search_channel" method = "post" >
                      <input name="search_channel"> 
                      <p><input type = "submit" value = "Search channel"></p>
                  </form>

 
                  {% if channels %}
                      <ul>
                           {% for channel in channels %}
                           <li><a href = "{{ url_for('channel', channel_name = channel.channel_name)}}">{{channel.channel_name}}</a></li>
                           {% endfor %}
                      </ul>
                  {% else %}
                      <strong>There are no channels present.</strong><br />
                  {% endif %}


                  <form id= "Add_channel_Form" action = "/add_channel" method = "post" >
                      <input name="channel_name"> 
                      <p><input type = "submit" value = "Add channel"></p>
                  </form>


             </div>

             
             <div id = "chat">
                  <p>Message: <input id="in" /></p>
                  <pre id="out"></pre>
                  <script>
                      function sse() {
                          var source = new EventSource('/stream/' + {{channel_name|tojson|safe}});
                          var out = document.getElementById('out');
                          source.onmessage = function(e) {
                              // XSS in chat is fun
                              out.innerHTML =  e.data + '\n' + out.innerHTML;
                          };
                      }
                      $('#in').keyup(function(e){
                          if (e.keyCode == 13) {
                              $.post('/post/'+{{channel_name|tojson|safe}}, {'message': $(this).val()});
                              $(this).val('');
                          }
                      });
                      sse();
                  </script>

             <form id = "Leave_the_channel" action = "/unsubscribe/{{channel_name}}" method = "post">
                 <input type = "submit" value = "Leave the channel">
             </form>

             </div> 
       </div> 
    </body>
</html>
